*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F2F2F2;
    color: #171C26;
}

nav.container{
    padding: 0 5px 5px;
    display: flex;
    flex-flow: column wrap;

    background-color: #364A73;
}

.brand{
    display: flex;
    flex-flow: row wrap;
    padding: 2px 1px;
}

.navbar-toggle{
    width:48px;
    height: 48px;
}

.brand-content{
    flex-grow: 1;
    text-align: center;
}

/* .menu{

} */

.menu ul{
    padding: 0 5PX;
    list-style: none;

}

.menu ul a{
    display: block;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    color: #F2F2F2;
}

.menu ul a:hover, .menu ul a:focus{
    color: #F25C05;
}