@import url("medias.css");

*,
*::before,
*::after{
    box-sizing: border-box;
    margin: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
    background-color: #F2F2F2;
    color: #171C26;
}

.container{
    display: flex;
    flex-flow: column wrap;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.5);

    background-color: transparent;
}

.brand, .menu{
    background-color: #364A73;
}

.brand{
    display: flex;
    flex-flow: row wrap;
    padding: 2px 0 0 3px;
}

.navbar-toggle{
    width:48px;
    height: 48px;
    margin-top: 1px;
    background-color: #F2F2F2;
    border: 2px solid #2E6EA6;
    border-radius: 10%;
    color: #171C26;
}

.brand-content{
    flex-grow: 1;
    text-align: center;
    padding-top: 1px;
}

.menu{
    display: none;
    background-color: rgba(23, 28, 38, 0.95);
    padding: 10px 5px;
}
.menu.show{
    display: block;
}

.menu ul{
    padding: 0 5PX;
    list-style: none;

}

.menu ul li{
    padding: 3px 0;
}

.menu ul li:hover{
    border-left: 3px solid #F25C05;
    padding-left: 5px;
    color: rgba(242, 92, 5, 0.75);
}
.menu ul a{
    display: block;
    outline: none;
    text-decoration: none;
    font-weight: bold;
    color: #F2F2F2;
}

/* .menu ul a:hover, .menu ul a:focus{
    color: #F25C05;
} */